---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "fonts";

body {
  font-family: "verb", Helvetica, sans-serif;
  font-weight: 300;
}

h2, h4 {
  font-family: "centrifuge", Georgia, serif;
  text-transform: uppercase;
  font-weight: bold;
}

section.gray {
  background: url('/assets/slateTexture.jpg') no-repeat top center;
  background-size: cover;
}

section.black {
  background: #000;
}

section.white {
  background: #fff;
}
